[Desktop Entry]
Encoding=UTF-8
Name=AiVA-96 다운로더 
Comment=Downloader
Exec=bash /home/inslab/workspace/AiVA-96-factory/sh/downloader.sh
Icon=/home/inslab/workspace/AiVA-96-factory/icons/downloader.png
Path=/home/inslab/workspace/AiVA-96-factory/
Terminal=false 
Type=Application
StartupNotify=false
Categories=Development
